.CPCB {
  width: 45px;
  height: 18px;
  /*font-family: .SFNSText;*/
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffa000;
  vertical-align: middle;
  margin: auto;
}
.Shape {
  width: 70.6px;
  height: 27.9px;
  background-color: #ffffff;
  border: solid 0.5px #b4b4b4;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
}
.Dumpsite-Mapping-R {
  width: 414px;
  height: 23px;
  /*font-family: .SFNSText;*/
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}


.sidebar {
  position: fixed;
  top: 54px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #ceced6;

}

.sidebar .nav {
  margin-bottom: 20px;

  /*height: 10px;*/
}

.sidebar .nav-item {
  width: 100%;
  height: 50%;

}

.sidebar .nav-item + .nav-item {
  margin-left: 0;

}

.sidebar .nav-link {
  border-radius: 0;
  height: 80px;
  /*text-align: center;*/

}
.sidebar .nav-link.active {
  background: #4c4c51;

}

.sidebar .nav-item.stages {
  background: #b4b4be;
  padding: 8px;

}

/*.states-selection {
  padding: 10px;
  background: #f7f7fa;
}*/

body {
  padding-top: 50px;
  background: #f7f7fa;
}
