{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Form1: {{landfill.name}}{% endblock %}
{% block stylesheet %}<link href="{% static "css/form1.css" %}" rel="stylesheet">{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url "home" %}">EveryULB</a>
  <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown"> -->
    <ul class="navbar-nav container">
      <li class="nav-item">
        <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "landfilladd" %}">Add Landfills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "add_data" %}">Add Data</a>
      </li>
      <form class="form-inline" action="{% url "search" %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search" id="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search_button">Search</button>
      </form>
    </ul>
  <!-- </div> -->
</nav>
{% endblock %}
{% block content %}
<div class="container">
  <div class="TOP" align="center">
    <h1><a href="{% url "form1" ids=landfill.id langs=1 %}">Change Language to Hindi</a></h1>
    <h1><a href="{% url "form1" ids=landfill.id langs=2 %}">Change Language to Tamil</a></h1>
  </div>
  <div class="Title" align="center">
    <h1>Form No. 1 for {{landfill.name}}</h1>
  </div>

  <div class="row-fluid">
    <form action="?" method="post">
      {% csrf_token %}
      <table class="table table-hover table-bordered">
        <tbody>
          <tr>
            <td>1</td>
            <td>Name of the local body/agency appointed by them/ operator of facility</td>
            <td><input type="text" name="s0" value="{{landfill_form1.s0}}"></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Correspondence address <br> Telephone No.<br>Fax No. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e-mail</td>
            <td>
              <textarea name="s1" rows="3" cols="35%">
                {{landfill_form1.s1}}
              </textarea>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Nodal Officer & designation(Officer authorised by the local body or agency responsible for operation of processing/ treatment or disposal facility)</td>
            <td><input type="text" name="s2" value="{{landfill_form1.s2}}"></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Authorisation required for setting up and operation of the facility (Please select)</td>
            <td>
              <select name="s3">
                <option value="t1" {% if landfill_form1.s3 == "t1" %} selected="selected" {% endif %}>Waste Processing</option>
                <option value="t2" {% if landfill_form1.s3 == "t2" %} selected="selected" {% endif %}>Recycling</option>
                <option value="t3" {% if landfill_form1.s3 == "t3" %} selected="selected" {% endif %}>Treatment</option>
                <option value="t4" {% if landfill_form1.s3 == "t4" %} selected="selected" {% endif %}>Disposal at Landfill</option>
              </select> </td>
          </tr>
          <tr>
            <td>5</td>
            <td>
              Attach copies of the Documents <br>
              Site clearance (local body) <br>
              Proof of Environmental Clearance <br>
              Consent for establishment <br>
              Agreement between municipal authority and operating agency <br>
              Investment on the project and expected return</td>
            <td>
              <br>
              <input name="s4" type="checkbox" {% if landfill_form1.s4 == "on" %} checked {% endif %}>
              <br>
              <input name="s5" type="checkbox" {% if landfill_form1.s5 == "on" %} checked {% endif %}>
              <br>
              <input name="s6" type="checkbox" {% if landfill_form1.s6 == "on" %} checked {% endif %}>
              <br>
              <input name="s7" type="checkbox" {% if landfill_form1.s7 == "on" %} checked {% endif %}>
              <br>
              <input name="s8" type="checkbox" {% if landfill_form1.s8 == "on" %} checked {% endif %}>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              Processing/recycling/treatment of solid waste
              <br>
              (i) Total Quantity of waste to be processed per day
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity of waste to be recycled
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity of waste to be treated
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity of waste to be disposed into landfill
              <br>
              (ii)Utilisation programme for waste processed (Product utilisation)
              <br>
              (iii)Methodology for disposal (attach details)
              <br>
              Quantity of leachate
              <br>
              Treatment technology for leachate
              <br>
              (iv)Measures to be taken for prevention and control of environmental pollution
              <br>
              (v)Measures to be taken for safety of workers working in the plant
              <br>
              (vi)Details on solid waste processing/recycling/ treatment/disposal facility (to be attached)
            </td>
            <td>
              <textarea name="s9" rows="13" cols="35%">{{landfill_form1.s9}}</textarea>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              Disposal of solid waste
              <br>
              Number of sites identified
              <br>
              Quantity of waste to be disposed per day
              <br>
              Details of methodology or criteria followed for site selection (attach)
              <br>
              Details of existing site under operation
              <br>
              Methodology and operational details of landfilling
              <br>
              Measures taken to check environmental pollution
            </td>
            <td>
              <textarea name="s10" rows="7" cols="35%">{{landfill_form1.s10}}</textarea>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>Any other information.</td>
            <td>
              <textarea name="s11" rows="3" cols="35%">
                {{landfill_form1.s11}}
              </textarea>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td><input type="submit" value="Submit" class="btn btn-primary"></td>
          </tr>
        </tbody>
      </table>
    </form>
</div>


</div>
{% endblock %}
{% block script %}
  <!-- <script
    src="https://maps.googleapis.com/maps/api/js?key={{key}}">
  </script> -->
  <script type="text/javascript">
    // var latitude = {{latitude}};
    // var longitude = {{longitude}};
    var csrfmiddlewaretoken = "{{ csrf_token }}";
  </script>
  <script src="{% static "js/form1.js" %}">
  </script>
{% endblock %}
