{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Search Results{% endblock %}
{% block stylesheet %}<link href="{% static "css/search.css" %}" rel="stylesheet">{% endblock %}
{% block header %}

{% endblock %}
{% block image_data_mapping %}
  <img src="{% static 'images/ic-report-dark.svg' %}" class="float-left">
{% endblock %}
{% block monitoring_url %}href="{% url 'home' %}"{% endblock %}

{% block content %}
<div class="container">
  <div class="Title" align="center">
    <h1>Dumpsites related to "{{search}}"</h1>
  </div>
  <div class="row-fluid">
    <div class="col-xs-12 card" id="cards_data">
      <ul class="list-group list-group-flush">
        {% for x in landfills %}
        <li class="list-group-item"><strong><a href="{% url "details" ids=x.id %}">{{x.name}}</a></strong></li>
        {% endfor %}
      </ul>
    </div>
  </div>


</div>
{% endblock %}
{% block script %}
  <script src="{% static "js/search.js" %}">
  </script>
{% endblock %}
